#ifndef ${INC_GUARD}_H
# define ${INC_GUARD}_H

$[parent_include_self]
class ${CLASS_NAME}$[parent_include_trueName]
{
public:
	${CLASS_NAME}(void);
	~${CLASS_NAME}(void);
protected:
private:
};

#endif
